# Serveur
PORT=3001
NODE_ENV=development

# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/salon_coiffure?schema=public"

# Sécurité JWT
JWT_SECRET="changez_moi_en_production_minimum_32_caracteres_aleatoires_securises"
JWT_EXPIRES_IN="7d"

# Frontend URL (CORS)
FRONTEND_URL="http://localhost:3000"
